.dropbtn{
    background-color: cyan;
    color: black;
    padding: 10px;
    border: none;
    cursor:alias;
    display: block;
}
.dropdown{
position: relative;
display: inline-block;
}
.dropdown-content{
background-color: cyan;
color: hotpink;
position: none;
min-width: 150px;
box-sizing: 5px 2px 10px 0px;
z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: orangered;
}
h1{
    color: rgb(8, 115, 119);
    font-size: 50px;
}
h2{
    color: orange;
    font-size: 35px;
}
.port{
    color: orangered;
}
.flexible{
    display: flex;
    padding: 40px;
}
.welome{
width: 30%;
padding: 100px;
}
.fascinate{
    width: 50%;
    height: 40%;
    padding: 40px;
}
.fascinate img{
    width: 200px;
    height: 200px;
}
.attractive img{
    width: 200px;
    height: 200px;
    }
.button{
    background:  cyan;
    box-shadow: orangered 5px 5px 5px 5px;
    text-decoration: none;
    border-radius: 5px;
    font-weight:700px;
}
a:hover{
    color: red;
}
.achieve{
width: 30%;
padding: 40px;
padding: 40px;
}
.corporate{
box-shadow: rgb(85, 84, 84) 5px 5px 5px 5px;
    padding-left: 20%;
    margin-left: 30px;
    margin-right: 30px;
}
.language{
    box-shadow: rgb(90, 89, 89) 5px 5px 5px 5px;
border-radius:left 10px;
    padding-left: 20%;
    margin-left: 30px;
    margin-right: 30px;
}
#office{
    max-width: 650px;
    padding: 10px;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(red, orange) 1 100%;
    box-shadow: rgb(95, 95, 95) 20px;
    border-right: none;
  }
    #programming{
        max-width: 650px;
        padding: 10px;
        border-width: 10px;
        border-style: solid;
        border-image: linear-gradient(blue, cyan) 1 100%;
        box-shadow: rgb(93, 93, 93) 20px;
        border-right: none;
      }
.foot{
    text-align: center;
}
.indent{
    color: rgb(136, 7, 72);
    text-indent: 100px;
    font-size: 50px;
}
.acheiving{
    color: orangered;
}
body{
   background-color:rgb(164, 215, 247);
}